@import "./variables";
@import "./styles/header";
@import "./styles/btn";
@import "./styles/banners";
@import "./styles/advantages";
@import "./styles/catalog";
@import "./styles/product";
@import "./styles/about";
@import "./styles/footer";

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

html {
  font-size: 16px;
  font-family: $rubik;
  font-weight: 400;
}

body {
  letter-spacing: 0.1px;
  color: $black-text;
}

.main {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 80px;
  margin: 0 auto;
}
